{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{!
    @template blocks_pickup/activity
    Example context (json):
    {

        "purpose": "content",
        "filter": "1",
        "icon": "https://moodle.org/blocks/stats_registry/pix/courses.svg",
        "url": "https://moodle.com/",
        "type": "file",
        "name": "The fullname of the activity",
        "coursename": "The name of the course"

    }
}}

<div class="pickup-card bg-white p-3 position-relative h-100">

    <div class="activityiconcontainer {{purpose}}">
        <img class="activityicon {{^filter}} nofilter {{/filter}}" src="{{icon}}" alt="{{type}}">
    </div>

    <div class="activityname">
        <a href="{{url}}" class="stretched-link font-weight-bold line-clamp-3">{{name}}</a>
    </div>
    <div class="small line-clamp-2">{{coursename}}</div>

</div>