{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{!
    @template blocks_pickup/coursecard
    Example context (json):
    {

        "courseimage": "https://moodle.org/blocks/stats_registry/pix/courses.svg",
        "viewurl": "https://moodle.com/",
        "fullname": "The fullname of the course",
        "coursecategory": "The category",
        "progress": "50"

    }
}}

{{! Coursecard. }}
<div class="pickup-card h-100 bg-white p-3 position-relative">

    <div class="d-flex flex-column h-100">

        {{! Image. }}
        <div class="bg-cover p-2 mb-2 bg-light"
            style='background-image: url("{{{courseimage}}}"); height: 140px;'>
            {{^visible}}
                <span class="badge badge-pill badge-warning">{{#str}} hiddenfromstudents {{/str}}</span><br>
            {{/visible}}
        </div>

        {{! Name & Catagory. }}
        <div class="dashboard-card-details">
            <a href="{{viewurl}}" class="stretched-link font-weight-bold line-clamp-3">{{fullname}}</a>
            <div><small>{{coursecategory}}</small></div>
        </div>

        <div class="dashboard-card-meta mt-auto">

            {{! Progress. }}
            <div class="{{^progress}} invisible {{/progress}}">
                <small>Progress: {{progress}}%</small>
                <div class="progress ">
                    <div class="progress-bar bg-success" role="progressbar"
                    aria-label="{{#str}} progress {{/str}}"
                    aria-valuenow="{{progress}}"
                    style="width: {{progress}}%"
                    aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
            </div>

        </div>
    </div>
</div>