{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{!
    @template blocks_pickup/coursecard
    Example context (json):
    {

        "courseimage": "https://moodle.org/blocks/stats_registry/pix/courses.svg",
        "viewurl": "https://moodle.com/",
        "fullname": "The fullname of the course",
        "coursecategory": "The category",
        "progress": "50"

    }
}}

{{! Coursecard. }}
<div class="pickup-card h-100 bg-white position-relative pb-3">
    {{^visible}}
        <div class="position-absolute p-1" style="top:0; right: 0; z-index: 666;">
            <span class="badge badge-pill badge-warning border border-dark" >{{#str}} hiddenfromstudents {{/str}}</span>
        </div>
    {{/visible}}

    <div class="d-flex flex-column h-100">

        {{! Image. }}
        <div class="pickup-card-imageholder bg-light position-relative" style="height: 140px; overflow: hidden;">
            <div class="pickup-card-image bg-cover h-100 transition" style='background-image: url("{{{courseimage}}}");'>
            </div>

        </div>

        {{! Name & Catagory. }}
        <div class="pickup-card-details px-3 pt-3">
            <a href="{{viewurl}}" class="stretched-link font-weight-bold line-clamp-3">{{fullname}}</a>
            <div class="line-clamp-1 text-muted"><small>{{coursecategory}}</small></div>
        </div>

        {{! Progress. }}
        {{#progressenabled}}
        <div class="dashboard-card-meta mt-auto px-3">
            <small>{{#str}} progress {{/str}}: {{progress}}%</small>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar"
                aria-label="{{#str}} progress {{/str}}"
                aria-valuenow="{{progress}}"
                style="width: {{progress}}%"
                aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
        </div>
        {{/progressenabled}}
    </div>
</div>
