<div id="block-pickup-content">
  <div class="container">
  <h1>{{#str}} pluginname, block_pickup {{/str}}</h1>
  <p>{{#str}} nocontent, block_pickup {{/str}}</p>
  <p><a href="{{{ config.wwwroot }}}/my/courses.php" class="h5 mb-3">
            <i class="fa-solid fa-circle-arrow-right mr-2" aria-hidden="true"></i>{{#str}} viewmycourses, block_pickup {{/str}}</a></p>
  </div>
</div>